.author {
	background: $concrete;
	display: table;
	width: 100%;
	padding: 2.5rem 0;
	margin: 2.5rem 0;
	.details {
		margin: auto;
		max-width: 50rem;
		padding: 0 1.25rem;
	}
	img {
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 50%;
		display: block;
		margin: auto;
	}
	.def {
		color: $color--gray;
		font-size: 1.125rem;
		font-family: $font--header;
		font-weight: $weight--normal;
		font-style: normal;
		margin: .625rem;
	}
	.name {
		margin: 0;
		a {
			font-family: $font--header;
			font-weight: $weight--header;
			font-style: normal;
			text-decoration: none;
			color: $color--black;
			font-size: 1.875rem;
			&:hover {
				color: $color--blue;
			}
		}
	}
	.desc {
		font-family: $font--header;
		font-weight: $weight--normal;
		font-style: normal;
		margin: .625rem;
		font-size: 1rem;
	}
	.email {
		text-decoration: none;
		color: $color--blue;
	}
}
@media only screen and(min-width:37.5rem) {
	.author {
		padding: 3.125rem 0;
		img {
			float: left;
			margin-right: 3.125rem;
		}
		.def {
			margin: 0;
			padding-top: 1.563rem;
		}
		.desc {
			font-size: 1.25rem;
		}
		.name a {
			font-size: 2.813rem;
		}
	}
}
@media only screen and(max-width:37.5rem) {
	.author .details {
		text-align: center;
	}
}
