.post-list {
  list-style: none;
  margin: 1.563rem auto;
  a {
    display: block;
    border-bottom: 1px solid $color--light;
    padding: .625rem 0;
    text-decoration: none;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all .5s;
    &:hover {
      color: $color--blue--dark;
      border-bottom: 1px solid $color--blue--dark;
    }
  }
  .entry-date {
    float: right;
  }
}
@media only screen and(max-width:37.5rem) {
  .post-list {
    padding: 0 1.25rem;
    .entry-date {
      display: none;
    }
  }
}
