table {
  margin: 3.125rem auto;
  border-collapse: collapse;
  border-spacing: 0;
  th {
    border: .125rem solid $color--light;
    padding: .313rem;
  }
  td {
    border: .125rem solid $color--light;
    padding: .313rem;
  }
}
td {
  padding: 0;
}
th {
  padding: 0;
}
@media only screen and(max-width:37.5rem) {
  table {
    display: none;
  }
}
