@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: $weight--normal;
  src: local('Open Sans Light'),local(OpenSans-Light),url(https://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: $weight--header;
  src: local('Open Sans Extrabold'),local(OpenSans-Extrabold),url(https://fonts.gstatic.com/s/opensans/v10/EInbV5DfGHOiMmvb1Xr-hiYtBUPDK3WL7KRKS_3q7OE.woff2) format("woff2");
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font--header;
  font-weight: $weight--header;
  font-style: normal;
}

h1 {
  font-size: $font-size--h1;
  margin: .67em 0;
}
h2 {
  font-size: $font-size--h2;
}
h3 {
  font-size: $font-size--h3;
}
h4 {
  font-size: $font-size--h4;
}
h5 {
  font-size: $font-size--h5;
}
h6 {
  font-size: $font-size--h6;
}
pre {
  overflow: auto;
  background: $color--gray;
  width: 100%;
  padding: 1.25rem 0;
  color: $color--white;
  margin: 1.875rem 0;
  font-size: .875rem;
  font-family: $font--monospace;
  font-size: $font-size--normal;
  code {
    *zoom: 1;
    width: auto;
    max-width: 50rem;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    padding: 0 1.25rem;
    &:before {
      content: '';
      display: table;
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
  span {
    line-height: 1.5rem;
  }
}
code {
  font-family: $font--monospace;
  font-size: $font-size--normal;
}
kbd {
  font-family: $font--monospace;
  font-size: $font-size--normal;
}
samp {
  font-family: $font--monospace;
  font-size: $font-size--normal;
}
b {
  font-weight: $weight--bold;
}
strong {
  font-weight: $weight--bold;
}
small {
  font-size: $font-size--small;
}
mark {
  background: $color--highlight;
  color: $color--black;
}
abbr[title] {
  border-bottom: 1px dotted;
}
sub,sup {
  font-size: $font-size--script;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -.25em;
}
sup {
  top: -.5em;
}
dfn {
  font-style: italic;
}
