---
---

<section class="mb-8">
  <img
    src="/images/og.jpg"
    alt="Jake sitting on a large red horse statue, looking off into the distance"
    class="rounded"
  />
</section>
<div class="mb-4">
  <h1
    class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
  >
    <span
      class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
    >
      Jake Dawkins
    </span>
  </h1>
  <p class="text-2xl pb-4">
    Software Engineer. Communicator. Home Barista and Ametuer Photographer.
  </p>
</div>
<div>
  <p class="mb-5">
    Hello! I'm a curious software engineer, with experience across the stack.
    I've worked with React and GraphQL-based products for much of my career, but
    I've also built editor extensions and CLI tools for a broad audience.
    Lately, I've been focusing on web accessibility, and pursuing my IAAP
    certifications.
  </p>
</div>
