---
---

<div class="text-sm leading-[1.75] p-4 border-2 border-primary-main mb-4">
  <strong class="text-lg">Learning in public</strong><br />
  <p>I'm currently learning how to use Astro, and this website is my first attempt at using it. The content here may be messy or incomplete in the meantime while I figure it out</p>
</div>
