@import "../../styles/variables";

//@extend-elements
//original selectors
//.header-site .content, .header-post .content
%extend_1 {
  width: 95%;
  position: absolute;
  //Instead of the line below you could use @include transform-style($style)
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: translate(-50%,-50%);
  text-align: center;
}

.header-site {
  background: $color--blue;
  height: 100%;
  .content {
    @extend %extend_1;
  }
  h1 {
    color: $color--white;
    text-align: center;
  }
  h2 {
    color: $color--white;
    text-align: center;
  }
  .site-title {
    font-size: 3.75rem;
    line-height: 1;
    margin-top: -80px;
    display: block;
  }
  .site-description {
    font-size: $font-size--h4;
    display: block;
    margin: 1.875rem 0;
  }
}
.header-post {
  background: $color--blue;
  height: 100%;
  .content {
    @extend %extend_1;
  }
  .subheader {
    display: table;
    padding: 20px;
    a {
      border: 2px solid $color--white;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 20px;
      padding: 0 10px;
    }
  }
  .date {
    font-family: $font--header;
    font-weight: $weight--normal;
    font-style: normal;
    font-size: 1rem;
    color: $color--white;
    text-align: center;
  }
  h1 {
    text-transform: uppercase;
    font-size: 1.875rem;
    margin: 0 0 30px;
    color: $color--white;
    text-align: center;
  }
  .subtitle {
    font-family: $font--header;
    font-weight: $weight--normal;
    font-style: normal;
    font-size: 1.25rem;
    color: $color--white;
    text-align: center;
  }
  p {
    color: $color--white;
    text-decoration: none;
    font-family: $font--header;
    font-weight: $weight--normal;
    font-style: normal;
    font-size: 1.125rem;
  }
}
@media only screen and(min-width:37.5rem) {
  .header-site {
    .site-title {
      margin-bottom: 0;
      font-size: 6.25rem;
    }
    .site-description {
      font-size: $font-size--h4;
    }
  }
  .header-post {
    .content {
      *zoom: 1;
      width: auto;
      max-width: 1000px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0;
      &:before {
        content: '';
        display: table;
      }
      &:after {
        content: '';
        display: table;
        clear: both;
      }
    }
    h1 {
      font-size: 3.75rem;
    }
    .subheader a {
      padding: 0 10px;
    }
  }
}
