body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: rgb(245,245,245);
	font-size: 16px;
	border-top: 5px solid rgb(107,172,67);
	border-bottom: 5px solid rgb(107,172,67);
	margin: 0px;
	min-width: 960px;
}

#wrapper {
	width: 960px;
	margin-left:auto;
	margin-right:auto;
	min-height: 500px;
}

#header {
	height:45px;
	background-color: orange;	
	
}