html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  font-family: 'Open Sans', helvetica, sans-serif;
}

div {
  font-family: 'Open Sans', helvetica, sans-serif;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', Helvetica, sans-serif;
  display: inline-block;
  margin: 0;
}

a {
  text-decoration: underline;
  color: #101010;
}

a:hover,
a:visited,
a:active {
  color: #101010;
}
