.color-gray, .color-grey {
    color: $gray;
}

.background-gray, .background-grey {
    background-color: $gray;
}

.color-white {
    color: $white;
}

.background-white {
    background-color: $white;
}

.color-light {
    color: $light
}

.background-light {
    background-color: $light;
}

.color-primary {
    color: $primary;
}

.background-primary {
    background-color: $primary;
}

.color-secondary {
    color: $secondary;
}

.background-secondary {
    background-color: $secondary;
}
