.color-gray, .color-grey {
    color: $gray;
}

.background-gray, .background-grey {
    background-color: $gray;
}

.color-white {
    color: $white;
}

.background-white {
    background-color: $white;
}
