//colors

$gray: #aaa;
$grey: $gray;
$white: #ffffff;
$light: #f3f3f3;

/* template variables */
$primary-red: red;

$primary: #247BA0; //blue

$primary-dark: #516077; //dark blue

$secondary: #c3b299; //tan

$secondary-dark: #50514f; //dark tan


/* Spacing */
$base-spacing-unit: 60px;
