@import "../../styles/variables";

/*================================
POST ITEM STYLES
================================*/

.post-item {
  text-align: left;
  padding: 2.5rem 0;
  border-bottom: 3px solid $color--concrete;
  *zoom: 1;
  width: auto;
  max-width: 62.5rem;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  &:before {
    content: '';
    display: table;
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  .datetime {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 14.166666666667%;
    margin-left: 0;
    margin-right: 3%;
    text-align: center;
    text-decoration: none;
    &:before {
      content: '';
      display: table;
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    &:last-child {
      margin-right: 0;
    }
    .day {
      font-family: $font--header;
      font-weight: $weight--header;
      font-style: normal;
      color: $color--blue;
      font-size: 5rem;
      line-height: 1.6;
    }
    .month-year {
      color: $color--black;
      font-size: 1.125rem;
    }
  }
  .content {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 82.833333333333%;
    margin-left: 0;
    margin-right: 3%;
    &:before {
      content: '';
      display: table;
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    &:last-child {
      margin-right: 0;
    }
    a {
      text-decoration: none;
    }
    .date {
      color: $color--blue;
    }
    .post-title {
      color: $color--black;
      font-size: 2rem;
    }
    .description {
      color: $color--dark-gray;
      font-family: $font--header;
      font-weight: $weight--normal;
      font-style: normal;
      font-size: 1.25rem;
      a {
        color: $color--blue;
        text-decoration: underline;
      }
    }
  }
}
@media only screen and(max-width:62.5rem) {
  .post-item {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

@media only screen and(max-width:37.5rem) {
  .post-item {
    .datetime {
      display: block;
      clear: both;
      float: none;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      &:first-child {
        margin-left: auto;
      }
      &:last-child {
        margin-right: auto;
      }
      .day {
        display: block;
        clear: both;
        float: none;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        &:first-child {
          margin-left: auto;
        }
        &:last-child {
          margin-right: auto;
        }
      }
    }
    .content {
      display: block;
      clear: both;
      float: none;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      &:first-child {
        margin-left: auto;
      }
      &:last-child {
        margin-right: auto;
      }
      .post-title {
        text-align: center;
      }
    }
  }
}

/*================================
POST ITEM TAGS
================================*/
.tags {
  margin-top: 1.875rem;
  a, span {
    font-size: .875rem;
    color: $color--blue;
    display: inline-block;
    border: 1px solid $color--blue;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: .313rem;
    padding: .25rem .625rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
    text-decoration: none;
    &:hover {
      color: $color--blue--dark;
      border: 1px solid $color--blue--dark;
    }
  }
}
.tag-title {
  font-family: $font--header;
  font-weight: 300;
  font-style: normal;
  font-size: 2.25rem;
  margin-top: 3.75rem;
  *zoom: 1;
  width: auto;
  max-width: 50rem;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  &:before {
    content: '';
    display: table;
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
@media only screen and(max-width:37.5rem) {
  .tag-title {
    font-size: 1.75rem;
    margin-top: 1.25rem;
    padding: 0 1.25rem;
  }
}
