@import "../../styles/variables";

a {
  &.slideButton.slide {
    left: 15.625rem;
    pointer-events: none;
  }
}
.overlay {
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all .25s ease;
  cursor: pointer;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background: transparent;
  z-index: 30;
  &.slide {
    pointer-events: auto;
    left: 240px;
    background: $color--black--overlay;
  }
}
#close {
  display: none;
}

aside {
  display: block;
  transition: all .25s ease;
  position: fixed;
  height: 100%;
  width: 15rem;
  padding: 2.5rem 0 0;
  top: 0;
  left: -15rem;
  background: $color--menu-bg;
  z-index: 20;
  @media only screen and(min-width:37.5rem) {
    pre {
      font-size: 1rem;
      padding: 2.5rem 0;
      margin: 3.125rem 0;
    }
    .highlight {
      word-wrap: break-word;
    }
  }
  @media only screen and(max-width:37.5rem) {
    pre code {
      overflow-x: scroll;
    }
  }
  .highlight {
    margin: 0;
  }
  &.slide {
    left: 0;
  }
  nav {
    ul {
      padding: 0;
    }
    li {
      margin: 0;
      list-style-type: none;
      a {
        width: 100%;
        display: block;
        padding: 1.25rem;
        text-decoration: none;
        font-family: $font--header;
        font-weight: $weight--normal;
        font-style: normal;
        color: $color--menu-link;
        border-top: 1px solid $color--menu-link-border;
        &:hover {
          color: $color--menu-link-hover;
        }
      }
    }
  }
}
